*{
    padding: 0;
    margin: 0;
}
.avatar {
width: 86px;
height: 86px;
background: #4456FB;
margin-top: 10vh;
margin-left: 10vh;
}

.avatar span {
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 105.3%;
color: #FFFFFF;
margin-left: 25%;
}

.navs {
margin-left: 10vh;
margin-top: 10vh;
}

.banner {  
background: linear-gradient(257.1deg, #AE5BD6 27.51%, #4052F0 113.53%);
background-blend-mode: screen;
height: 680px;
background: url(images/Vector-12-+.png)
}

.welcome {
font-style: normal;
font-weight: bold;
font-size: 88px;
line-height: 105.3%;
color: #FFFFFF;
margin-top: 20vh;
margin-left: 20vh;
}

.welcome h5 {
font-style: normal;
font-size: 28px;
line-height: 105.3%;
}

.welcome p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.social-links {
width: 833px;
height: 51px;
background: #FFFFFF;
border-radius: 60px;
}

.social-links p {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #4F5461;
}

.all-left {
padding-left: 20vh;
}

.title {    
color: #4F5461;
font-size: 28px;
line-height: 105.3%;
font-style: normal;
font-weight: bold;
}

.thumbnails {
    margin-top: 5%;
}

.thumbnail-item {      
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 8%;
    margin-bottom: 8%;
    height: 40vh;    
}

.thumbnail-item-1 {
    height: 40vh; 
    background: url(images/Apple-Clone.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail-item-2 {
    height: 40vh; 
    background: url(images/Music-Shop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail-item-3 {
    height: 40vh; 
    background: url(images/News-week.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail-item-4 {
    height: 40vh; 
    background: url(images/Telegram-Bot.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail-item-5 {
    height: 40vh; 
    background: url(images/TheNext-web.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thumbnail-item-6 {
    height: 40vh; 
    background: url(images/Twetter-redesign.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-me text {
font-size: 16px;
line-height: 22px;
color: #737986;
}

.resume-lnk {
width: 193px;
height: 59px;
background: #4456FB;
border-radius: 60px;
padding-top: 20px;
}

.resume-lnk p {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 105.3%;
text-align: center;
color: #FFFFFF;
}

.tech-item {
    width: 266px;
    height: 341px;
    background: #F5F8FD;
    border-radius: 10px;
    margin-top: 10vh;
    margin-right: 10vh;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 242.5%;
color: #737986;
}

.tech-item p {
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 105.3%;
color: #4F5461;
margin-top: 5vh;
padding-left: 5vh;
}

.contact-note {
    margin-top: 10vh;
}

.contact-form {
    background: linear-gradient(257.1deg, #AE5BD6 27.51%, #4052F0 113.53%);
    background-blend-mode: screen;    
    height: 556px;
    background: url(images/footer-shape.png);
    background-size: 1139px 556px;
       
}





    

